header{
    background-color: white;
}
main{
    background-color: white;
}
.logo{
    width: 130px;
}
.btn{
    background-color: rgb(249, 77, 34)  !important;
    color: white !important;
    border: none !important;
    border-radius: 6px !important;
}
.nav1{
    display: flex !important;
    justify-content:space-between !important;
}
a:hover{
    color:rgb(249, 77, 34) !important ;
}
.b{
    font-size: 18px !important;

}
.os{
    width: 400px;
    font-size: 12px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    position: relative;
    bottom:150px;
    left: 65%;
    padding: 20px 20px;
}
hr.r {
    border-top: 2px dashed rgb(85, 78, 78);
  }
.wr{
    width: 50%;
    margin:auto

}
  
  .mt-100{
    margin-top: 200px;
  }
  .progress {
    width: 150px;
    height: 150px !important;
    float: left; 
    line-height: 150px;
    background: none;
    margin: 20px;
    box-shadow: none;
    position: relative;
    left:25px;
  }
  .progress:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 12px solid white;
    position: absolute;
    top: 0;
    left: 0;
  }
  .progress>span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
  }
  .progress .progress-left {
    left: 0;
  }
  .progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 12px;
    border-style: solid;
    position: absolute;
    top: 0;
  }
  .progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
  }
  .progress .progress-right {
    right: 0;
  }
  .progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
  }
  .progress .progress-value {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: white;
    font-size: 24px;
    color: black;
    line-height: 135px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
  }
  .progress.red .progress-bar {
    border-color: #f80b0b;
  }
  .progress.red .progress-left .progress-bar {
    animation: loading-2 1.5s linear forwards 1.8s;
  }
  .progress.yellow .progress-bar {
    border-color: #fdba04;
  }

  .progress.yellow .progress-left .progress-bar {
    animation: loading-2 1.5s linear forwards 1.8s;
  }
  .progress.green .progress-bar {
    border-color: green
  }
  .progress.green .progress-left .progress-bar {
    animation: loading-2 1.5s linear forwards 1.8s;
  }
  .progress.blue .progress-bar {
    border-color: rgb(12, 223, 242)
  }
  .progress.blue .progress-left .progress-bar {
    animation: loading-2 1.5s linear forwards 1.8s;
  }


  @keyframes loading-1 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }
  @keyframes loading-2 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(144deg);
      transform: rotate(144deg);
    }
  }
  @keyframes loading-3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(135deg);
      transform: rotate(135deg);
    }
  }
.one{
    width: 20%;
    text-align: center;
    
}
.i{
    text-align: center;

}
.t{
    margin-left: 20px !important;
}
.cr{
    width: 45% !important;
    
}
.ci{
    background: linear-gradient(45deg,rgb(63, 58, 58,0.3),rgb(63, 58, 58,0.3)) !important;
    background-blend-mode: overlay !important;
}
.hp{
    color: aliceblue;
    margin-top: 180px !important;
}
.oo{
    margin: auto !important;
    width: 85%;
}
.hpp{
    color: azure;
    margin-top: 320px !important;
}
.uuu{
    margin-top: 30px !important;
    margin-bottom: 80px !important;
}
.p{
    padding: 10px;
    padding-top: 28px;
}
.mi{
    margin-top: 7px !important;
}
.rrr{
    margin: auto !important;
    width:100% !important ;
    margin-bottom: 80px !important;
}
.acco{

    border: 1px solid rgba(107, 101, 101, 0.204);
    border-radius: 5px;
    padding:20px !important;
}
.picc{
    width: 40%;
}
.ricc{
    width: 60%;
    
   
}
.cvc{
    height: 73px !important;
}
.q{
    padding: 20px !important;
}
.yt{
   padding-bottom: 100px !important;
}
.titi{
  padding-top: 30px !important;
}
.onee{
  width:350px;
  padding: 40px;
  background-color: rgba(147, 177, 148, 0.695);
  border-radius: 10px;
  margin-bottom: 10px;
}
.twoo{
  width:350px;
  padding: 40px;
  background-color: rgba(195, 198, 131, 0.695);
  border-radius: 10px;
  margin-bottom: 10px;
}
.thee{
  width:350px;
  padding: 40px;
  background-color: rgba(148, 223, 209, 0.695);
  border-radius: 10px;
  margin-bottom: 10px;
}
.pho{
  color: rgba(131, 112, 112, 0.622);
}
.carding{
  border: 1px solid rgba(107, 101, 101, 0.204);
  border-radius: 8px;
  
}
.con{
  width: 60px;
  height: 50px;
  padding: 20px;
  margin-bottom: 30px;
  background-color: rgba(119, 114, 114, 0.468) !important;
}
.bm{
  width: 110px;
  height:350px;
  background-color: rgba(119, 114, 114, 0.468) !important;
  text-align: center;
  margin-bottom: 40px;
}
.bmo{
  padding: 10px 320px;
  text-align: center;
  border-radius: 8px;
  margin: auto;
  color: azure;
  background-color: rgb(224, 39, 19);
  border: none;
}
.pop{
   margin-left: 45px ;
   padding: 30px;

}
main{
  background-color: rgba(119, 114, 114, 0.468) !important;
  text-align: center;
  padding: 30px !important;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 8px;
}
.social{
  
  margin-left: 584px ;
  
}
footer{
  background-color: black;
  color: white;
}
.tut{
  margin-top: 8px !important;
}
.tt{
  width: 25% !important;
  padding: 30px;
  margin-left: 20px;
  margin-top: 10px;
}
.allFour{
  padding: 30px;
}
.wowo{
  width: 70%;
}

/* for mobile */
@media only screen and (min-width: 400px) and (max-width:767px){
  .jqj{
    width: 100%;
  }
  .os{
    position: static;
  }
  .uu{
    display: block !important;
  }

}

/* for tab */
@media only screen and (min-width: 768px) and (max-width:992px){

}
